.header {
    position: relative;
    display: grid;
    align-content: center;
    min-height: 700px;
    min-width: fit-content;
    background-color: #161F22;
    background-image: url(../../assets/img/header_background.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
}

@media (max-width: 991.8px) and (min-width: 768px) {
    .header-content__img img {
        max-width: 60%;
    }
    .header-navbar__link {
        font-size: 1.1rem;
        padding: 0 10px;
    }
}

@media (max-width: 767.9px) and (min-width: 576px) {
    .header-content__img img {
        max-width: 60%;
    }
}

@media (max-width: 575.8px) {
    .header-content__img img {
        max-width: 60%;
    }
}

@media (min-width: 768px) {
    .header-navbar__btn {
        display: none;
    }
}

@media (max-width: 767.8px) {
    .header-navbar__link {
        display: none;
    }
}