.articles{
    min-height: 100vh;
  }
  
  .articles h2{
  text-align: center;
  color: #EBAD4C;
  font-size: 3rem;
  }
  
  .articles__container{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1340px;
    margin: 0 auto;
    gap: 20px;
    justify-content: center;
  
  }
  
  .article-item{
    width: 100%;
    background-color: #192326;
    opacity: 0.98;
    font-family: Antonio, sans-serif;
    overflow: hidden;
    
  }
  
  .article-item__head{
    display: block;
  }
  
  .article-item__image{
    position: relative;
    width: 100%;
  }
  
  .article-item__image img{
    width: 100%;
    height: 300px;
    max-height: 300px;
  }
  
  .categories-name a{
    text-decoration: none; 
    border-bottom: 1px dashed #5d7b86; 
    color: #5d7b86;
    font-size: 12px;
    margin-left: 2px;
  }
  
  .date-data{
    text-decoration: none; 
    color: #5d7b86;
    font-size: 12px;
    margin-left: 2px;
  }

  .far {
    color: rgb(223, 161, 48) 
  }
  .read-description{
    margin-left: 2px;
  }

  
  .categories-icon, .date-icon{
    color: #5d7b86;
    margin-left: 10px;
    font-size: 12px;
  }
  
  .article-item__title{
    margin: 10px;
    font-weight: 600;
    font-size: 1.3rem;
  }
  
  .article-item__title a{
    color: #EBAD4C;
    text-decoration: none;
  }
  
  .article-item__description{
    color:  rgba(255, 255, 255, 0.534);
    margin: 10px;
    font-size: 0.8rem;
  }
  
  .article-item__likes, .article-item__read{
    margin: 10px;
    text-decoration: none;
  }
  
  .article-item__likes a, .article-item__read a{
    text-decoration: none;
    font-size: 12px;
    color: #5d7b86;
  }

  .article-item__read a:hover{
    color: #db9d3a;
  }

  .article-item__footer{
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: 991.8px) and (min-width: 768px) {
  
  .articles h2 {
    font-size: 2.5rem;
  }
  
  .articles__container {
    grid-template-columns: 1fr 1fr;
    margin: 0 20px;
  }
  
  .article-item__description {
    font-size: 1.1rem;
  }
  
  .article-item__title a {
    font-size: 1.5rem;
  }
  
  .article-item__read a {
    margin-left: 0; 
  }
  }

  @media (max-width: 767.9px) and (min-width: 576px) {
  
  .articles h2 {
    font-size: 2rem;
  }
  
  .articles__container {
    grid-template-columns: 1fr;
    padding: 0 20px;
  }
  
  .article-item__image img {
    width: 100%;
    height: 100%; 
    max-height: 100%;
  }
  
  .article-item__description {
    font-size: 1.4rem;
  }
  
  .article-item__title a {
    font-size: 2rem;
  }
  
  .article-item__read a {
    margin-left: 0; 
  }
  }

  @media (max-width: 575.8px) {

  .articles h2 {
    font-size: 1.5rem;
  }
  
  .articles__container {
    grid-template-columns: 1fr;
    margin: 0 10px;
  }
  
  .article-item__image img {
    width: 100%;
    height: 100%; 
    max-height: 100%;
  }
  
  .article-item__description {
    font-size: 1rem;
  }
  
  .article-item__title a {
    font-size: 1.2rem;
  }
  .article-item__read a {
    transition: 0.7s;
    margin-left: 201px;
  }
  
  }