* {
    box-sizing: border-box;
    
}

html {
    overflow-x: hidden;
    letter-spacing: 0.150em;
    font-size: 16px;
}

body {
    margin: 0;
    font-family: 'Antonio', sans-serif;
    background-color: #161f22;
    
}

@media (max-width: 991.8px) and (min-width: 768px) {

  /* MEDIA HEADER */

    .header-content__img img {
        max-width: 60%;
    }

    .header-navbar__link {
      font-size: 1.1rem;
      padding: 0 10px;
  }

   /* MEDIA PLACES */

   .places-item__title h2 {
    font-size: 1rem;
  }

/* MEDIA INFO */

  .info-content__form h2 {
    margin-top: 100px;
    font-size: 1.5rem;
}

.info-content__article{
  font-size: 0.8rem;
}

/* MEDIA ARTICLES */

.articles h2 {
  font-size: 2.5rem;
}

.articles__container {
  grid-template-columns: 1fr 1fr;
  margin: 0 20px;
}

.article-item__description {
  font-size: 1.1rem;
}

.article-item__title a {
  font-size: 1.5rem;
}

.article-item__read a {
  margin-left: 0; 
}
}

@media (max-width: 767.9px) and (min-width: 576px) {
   
  /* MEDIA HEADER */
    .header-content__img img {
        max-width: 60%;
    }

  /* MEDIA PLACES */

    .places-container{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    
    /* MEDIA QUOTES */

    .quotes-container{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "q2 q2"
        "q1 q3";
    }

    .quotes-main__image {
      margin: 0px 0 0 0;
  }

  .quotes-main__author {
    padding: 10px 0 86px 0;
}

.quotes-left__description,.quotes-right__description{
  margin-bottom: 20px;
}

/* MEDIA INFO */

.info__container {
  display: block;
}

.info-content__article p:first-of-type::after {
display: none;
}
.info-content__article{
  font-size: 0.8rem;
}

.info-content__title h2{
  font-size: 1.3rem;
}

.info-content__form h2 {
  font-size: 1.3rem;
}

/* MEDIA ARTICLES */

.articles h2 {
  font-size: 2rem;
}

.articles__container {
  grid-template-columns: 1fr;
  padding: 0 20px;
}

.article-item__image img {
  width: 100%;
  height: 100%; 
  max-height: 100%;
}

.article-item__description {
  font-size: 1.4rem;
}

.article-item__title a {
  font-size: 2rem;
}

.article-item__read a {
  margin-left: 0; 
}
}

@media (max-width: 575.8px) {

  /* MEDIA HEADER */

    .header-content__img img {
        max-width: 60%;
    }

    /* MEDIA PLACES */

    .places-container{
      display: grid;
      grid-template-columns: 1fr;
    }

    .places-item__title h2::after { 
      top: 60px;
      right: 65%;
 
  }

  /* MEDIA QUOTES */

    .quotes-container{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas:
        "q1"
        "q2"
        "q3";
    }

    .quotes-main__image {
      margin: 0px 0 0 0;
  }

  .quotes-main__author {
    padding: 10px 0 86px 0;
}

.quotes-left__description, .quotes-right__description{
  margin-bottom: 20px;
}

.info__container {
  display: block;
}

.info-content__article p:first-of-type::after {
  display: none;
  }

  /* MEDIA ARTICLES */

.articles h2 {
  font-size: 1.5rem;
}

.articles__container {
  grid-template-columns: 1fr;
  margin: 0 10px;
}

.article-item__image img {
  width: 100%;
  height: 100%; 
  max-height: 100%;
}

.article-item__description {
  font-size: 1rem;
}

.article-item__title a {
  font-size: 1.2rem;
}
.article-item__read a {
  transition: 0.7s;
  margin-left: 201px;
}

}


/* MEDIA HEADER */

 @media (min-width: 768px){

  .header-navbar__btn{
    display: none;
  }
 }

 @media (max-width: 767.8px){

  .header-navbar__link {
    display: none;
}
 }






